source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit
nuget NUnit.Runners
nuget FAKE ~> 4
nuget SourceLink.Fake

nuget FSharp.Core >= 8.0
nuget Microsoft.PowerPlatform.Dataverse.Client >= 1.1
nuget Newtonsoft.Json >= 13.0

github fsharp/FAKE modules/Octokit/Octokit.fsx